body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    flex-direction: column;
}

canvas {
    border: 1px solid #fff;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #444;
}

#score {
    color: #fff;
    font-size: 20px;
}